$main-theme-color: #f48732;
$main-theme-lighter-color: #ed9958;
$foreground-color: white;
$dark-theme-color: #1b1d1c;
$lighter-dark-theme-color: #282828;
$lighter-dark-theme-foreground-color: #7d7d7d;