$main-theme-color: #c0392b;
$main-theme-lighter-color: #e74c3c;
$foreground-color: white;
$dark-theme-color: #1b1d1c;
$dark-theme-color-opacity: rgba(27, 29, 28, 0.3);
$dark-theme-color-big-opacity: rgba(27, 29, 28, 0.1);
$lighter-dark-theme-color: #282828;
$lighter-dark-theme-foreground-color: #7d7d7d;