$biggest-screens: "(min-width: 1745px)";
$almost-full-hd-screens: "(min-width: 1600px) and (max-width: 1745px)";
$regular-screens: "(min-width: 1300px) and (max-width: 1600px)";
$tablets-and-big-phones: "(min-width: 800px) and (max-width: 1300px)";
$smaller-phones: "(max-width: 800px)";
$small-phones: "(max-width: 481px)";
$smallest-phones: "(max-width: 321px)";