@mixin filter($value) {
	-webkit-filter: $value;
	   -moz-filter: $value;
		-ms-filters: $value;
		filter: $value;
  }

  @mixin transition($value) {
	-webkit-transition: $value;
	   -moz-transition: $value;
		-ms-transition: $value;
		transition: $value;
  }

  @mixin respond-to($media) {
	@if $media == handhelds {
	  @media only screen and (max-width: $break-small) { @content; }
	}
	@else if $media == medium-screens {
	  @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
	}
	@else if $media == wide-screens {
	  @media only screen and (min-width: $break-large) { @content; }
	}
  }