@mixin filter($value) {
	-webkit-filter: $value;
	   -moz-filter: $value;
		-ms-filters: $value;
		filter: $value;
  }

  @mixin transition($value) {
	-webkit-transition: $value;
	   -moz-transition: $value;
		-ms-transition: $value;
		transition: $value;
  }